* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
  background-color: rgb(38, 45, 108);
  color: rgb(211, 211, 211);
  display: grid;
}

.account-activity {
  text-align: center;
  margin: 10px 0;
  background-color: rgb(49, 49, 49);
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.forms-container {
  background-color: rgb(140, 140, 140);
  width: 80%;
  margin-inline: auto;
  min-height: 100vh;
  padding: 10px 20px;
}
.form-sections-container {
  /* background-color: rgb(132, 67, 67); */
  width: 90%;
  margin-inline: auto;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

  padding: 10px 20px;
  display: grid;
  gap: 40px;
  /* border: 3px solid white; */
}

#form-section-one {
  background-color: rgb(44, 44, 138);
  padding: 20px;
  height: 80%;
  width: 100%;
  border-radius: 5px;
}
#form-section-B {
  background-color: rgb(50, 50, 82);
  padding: 20px;
  height: 100%;
  width: 100%;
  border-radius: 5px;
}

.input-group {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  margin: 10px 20px;
}

.input-group button[type="submit"] {
  padding: 8px 16px;
  cursor: pointer;
  font-weight: 600;
  color: rgb(51, 51, 51);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.input-group button[type="submit"]:hover {
  background-color: rgb(107, 107, 107);
  color: rgb(255, 255, 255);
}
.input-group input {
  padding: 5px 10px;
  outline: none;
  border: 2px solid rgb(136, 163, 18);
}

#account-list {
  padding: 5px 10px;
  outline: none;
  border: 2px solid rgb(136, 163, 18);
}

#account-list > option {
  padding: 5px 10px;
  background-color: rgb(231, 231, 231);
}
.partitioning {
  background-color: rgb(171, 171, 171);
  width: 100%;
  height: 5px;
  margin-top: 10px;
}

.existing-account {
  background-color: rgb(49, 49, 49);
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.account-details {
  background-color: rgb(96, 96, 96);
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  list-style-type: none;
}
.account-listing button[type="close"] {
    margin-left: 10px;
  padding: 5px;
}